$break-small: 768px;
$break-medium: 1024px;

$four-columns: repeat(4, 25%);
$two-columns: repeat(2, 50%);
$single-column: 100%;

main {
    display: grid;
    grid-template-columns: $four-columns;
    margin-top: 10px;

    @media screen and (max-width: $break-medium) {
        grid-template-columns: $two-columns;
    }

    @media screen and (max-width: $break-small) {
        grid-template-columns: $single-column;
    }
}